.hero-image{
  background-image:
      url('/Users/georgiaclarke/Documents/coursework/week_09/day_04/code_lab_4/pokemon-pokemon-red-and-blue-blastoise-pokemon-bulbasaur-pokemon-wallpaper-preview.jpeg') ;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
  position: relative;
}

.hero-text{
  text-align: center;
  color: white;
  text-shadow: 2px 2px red;
}

.homepage-background{
  background-image: url('/Users/georgiaclarke/Documents/coursework/week_09/day_04/code_lab_4/Fi-T-Top10-First-Generation-Pokemon-480i60.jpeg');
}

/* .all-pokemon{
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  
} */
.all-pokemon{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-columns: repeat(3, 1fr); */
  /* column-gap: 10px;
  grid-auto-rows: 50px 100px; */

  background-color: rgb(251, 53, 53);
  color: white;
  padding: 100px;
}

h4{
  font-size: 2.5em;
}

/* Need a way to colour link */